<!DOCTYPE html>
<html lang="en">
<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <div ng-app="myApp">
    <div ng-controller="myCtrl">
      <div class="card">
        <div class="card-header">Tính tiền thưởng tết</div>
        <div class="card-body" name="frmBonus">
          <form name="frmBonus" ng-submit="submitForm()" novalidate>
            <div class="form-group">
              <label>Họ tên</label>
              <input ng-model="name" type="text" class="form-control" placeholder="" aria-describedby="helpId" required maxlength="25" name="name" />
              <span ng-show="frmBonus.name.$invalid && frmBonus.name.$dirty">Vui lòng nhập tên</span>
            </div>
            <div class="form-group">
              <label>Điểm</label>
              <input ng-model="mark" type="number" class="form-control" placeholder="" aria-describedby="helpId" min="0" max="10" name="mark" />
              <span ng-show="frmBonus.mark.$invalid && frmBonus.mark.$dirty">Vui lòng nhập điểm</span>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input ng-model="email" type="email" class="form-control" placeholder="" aria-describedby="helpId" required name="email" />
              <span ng-show="frmBonus.email.$invalid && frmBonus.email.$dirty">Vui lòng nhập email</span>
            </div>
            <div class="form-group">
              <label>Số xe</label>
              <input ng-model="number" type="text" class="form-control" placeholder="" aria-describedby="helpId" pattern="5\d-[A-Z]\d-((\d{4})|(\d{3}\.\d{2}))" name="number" />
              <span ng-show="frmBonus.number.$invalid && frmBonus.number.$dirty">Vui lòng nhập số xe</span>
            </div>
            <div class="card-footer text-muted">
              <button type="submit" class="btn btn-primary">Lưu</button>
              <span ng-show="isSaved">Bạn đã lưu thành công</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope) {
      $scope.submitForm = function() {
        if ($scope.frmBonus.$valid) {
          // Xử lý lưu dữ liệu ở đây
          $scope.isSaved = true;
        }
      };
    });
  </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
