<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="myApp">
      <div ng-controller="myCtrl">
        <div class="card">
          <div class="card-header">Bán hàng giải khát</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tên hàng</th>
                  <th>Số lượng</th>
                  <th>Đơn giá</th>
                  <th>Thành tiền</th>
                  <th>Chọn</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in products">
                  <td scope="row">{{ $index+1 }}</td>
                  <td>{{ x.name }}</td>
                  <td>
                    <input
                      type="number"
                      ng-model="x.quantity"
                      ng-disabled="!x.checked"
                    />
                  </td>
                  <td>{{ x.price }} </td>
                  <td>{{ x.quantity * x.price }}</td>
                  <td><input type="checkbox" ng-model="x.checked" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer text-muted">
            Tổng tiền: <span>{{ caculate()}}</span>
          </div>
        </div>
      </div>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope) {
          $scope.products = [
            {
              name: "Number 1",
              price: 10000,
              quantity: 0,
              checked: false,
            },
            {
              name: "Number 2",
              price: 20000,
              quantity: 0,
              checked: false,
            },
            {
              name: "Number 3",
              price: 30000,
              quantity: 0,
              checked: false,
            },
            {
              name: "Number 4",
              price: 40000,
              quantity: 0,
              checked: false,
            },
          ]

          $scope.caculate = function () {
            var total = 0;
            for (var i = 0; i < $scope.products.length; i++) {
              if ($scope.products[i].checked) {
                total += $scope.products[i].price * $scope.products[i].quantity;
              }
            }
            return total;
          };
        });
      </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
